<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TumblrAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>501774A81D0C7B5A00643566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501774BC1D0C7B5A00643566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501774C71D0C7B5B00643566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
